body,html{
    height: 100%;
    margin: 0;
    background: transparent ;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.h-100{
    max-width: 1500px;
    flex-wrap: none;
    background-color: #192734;
    border-radius: 25px;
    height: 500px;
}
.card{
    box-sizing: border-box;
}
.chatbtn{
    position: fixed;
    right:50px;
    bottom: 50px;
    background: dodgerblue;
    color: white;
    width:60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    border: none;
}

.popupchat{
    align-content: center;
    display: none;
    bottom:80px;
    right:120px;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 10px;
  }

.show{
    display: flex;
}

.row{
    flex-wrap: unset;
}
.card{
    background-color: #192734;
    border-radius: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 500px;
    height: 500px;
  }

.contacts_body{
    padding:  0.75rem 0 !important;
    white-space: nowrap;
    overflow-y: scroll;
    height: 400px;
    word-break: break-all;
  }
.msg_card_body{
    overflow-y: auto;
  }
.card-header{
    border-bottom: 0 !important;
  }
.card-footer{
    border-top: 0 !important;
  }

.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
  }
.search:focus{
       box-shadow:none !important;
         outline:0px !important;
  }
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
  }
.type_msg:focus{
       box-shadow:none !important;
         outline:0px !important;
  }
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }
  .contacts{
    list-style: none;
    padding: 0;
  }
  .contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
  }
  .active{
    background-color: rgba(0,0,0,0.3);
  }
  .user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;
  
  }
  .user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
  
  }
  .img_cont{
    position: relative;
    height: 70px;
    width: 70px;
  }
  .img_cont_msg{
    height: 40px;
    width: 40px;
  }
  .online_icon{
  position: absolute;
  height: 15px;
  width:15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border:1.5px solid white;
  }
  .offline{
  background-color: #c23616 !important;
  }
  .user_info{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  }
  .user_info span{
  font-size: 20px;
  color: white;
  }
  .user_info p{
  font-size: 10px;
  color: rgba(255,255,255,0.6);
  }
.contacts_card{
    background-color: #192734 !important;
}
.chat{
    margin-top: auto;
    margin-bottom: auto;
  }

.chat-wrapper {
    max-width: 800px;
    width: 250px;
    height: 500px;
    overflow: hidden;
    background-color: #192734;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.chat-header {
	background-color: transparent;
	padding: 20px;
	color: #fff;
	text-align: center;
}

.chat-body {
	height: 400px;
	overflow-y: scroll;
	padding: 20px;
    background-color: #15202b;
}

.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
    background-color: #fff;
}

.incoming-chats-img {
    display: flex;
    width: 50px;
    float: left;
    margin-left: 1rem;
    background-color: #fff;
}

.outchatpagebtn {
    font-size: large;
    padding: 0.25rem 1.5rem;
    color: white;
    border: none;
    display: flex;
    float: left;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 1.5;
}
.chat-message {
	margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-message1 {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.chat-message2 {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-username {
	font-weight: bold;
	margin-bottom: 5px;
    margin-right: 1rem;
    padding: 0 0 0 10px;
    color: #fff;
}

.chat-username1 {
	font-weight: bold;
	margin-bottom: 5px;
    margin-left: 1rem;
}

.chat-time {
	font-size: 12px;
	color: #777;
	margin-top: 5px;
    margin-left: auto;
}

.chat-footer {
	background-color: transparent;
	padding: 20px;
	display: flex;
	align-items: center;
}

.chat-message-text {
    background-color: #3a12ff;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    padding: 0.7rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.chat-footer input[type="text"] {
    width: 100%;
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
}

.chat-footer button {
    outline: none;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
    background-color: transparent;
}

#emoji-button {
    right: 100px;
    position: absolute;
    font-size: 1.2rem;
    background-image: transparent;
    opacity: 1.5;
}
.submit{
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background-color: #3a12ff;
    color: white;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 1;
}

.out-msg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.my-msg{
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.7rem;
    background-color: #3a12ff;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
    width: fit-content;
    word-break: break-all;
}
.outchatpagebtn:hover, .submit:hover, #emoji-button:hover, .bd-highlight:hover, .addchatpagebtn:hover{
    background-color: rgba(0,0,0,0.3);
    opacity: 0.7;
}

.addchatgrpbtn{
    margin: none;
    color: white;
    background-color: transparent;
    border: none;
    opacity: 1;
}

.bd-highlight{
    background-color: transparent;
    border: none;
    opacity: 1;
}
@media (max-width:500px){

    .chatarea{
        bottom: 120px;
        right:10%;
        width: 80vw;
    }
}
@media(max-width: 576px){
    .contacts_card{
    margin-bottom: 15px !important;
    }
    }
@media (max-width:500px){

        .popupchat{
            bottom: 120px;
            right:10%;
            width: 80vw;
        }
    }
