
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        color: #15202b;
        margin: 0;
    }
    
    .container {
        left: 0px;
        border-radius: 20px;
        padding: 30px;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
    }
    
    .sidebar {
      position: sticky ;
      top: 0;
      height:100%;
      width: 20%;
      margin-right: 50px;
     }
    
    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      
    }
    
    .logo img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    
    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        left : 0px;
        right: 20px;
    }
    
    .sidebar li {
        margin-bottom: 10px;
    }
    
    .sidebar a {
        display: block;
        padding: 10px;
        background-color: #1da1f2;
        color: #ffffff;
        border-radius: 10px;
        font-weight: bold;
        text-decoration: none;
    }

    .sidebar a:hover {
        background-color: #0c84d2;
    }
    
    .main-content {
        flex: 1;

    }
    
    .profile {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .profile-banner{
      top:20px;
      padding:20 px;
      color: grey;
      max-width: 1000 px;

    }
    .profile-photo {
        width:200px;
        border-radius: 50%;
        position: fixed;
        align-content: center;
        display:flex;
        justify-content: center;
        
        
    }
    
    .profile-photo img {
        position: fixed;
        right: 200px  ;
   
        
    }

    .profile-info{
        margin-top: 30px;
        margin-left: 120px;
    }
    
    .profile-info h1 {
        font-size: 36px;
        margin: 0;
    }
    
    .profile-info h2 {
        font-size: 24px;
        margin-left: 80px;
    }
    
    .profile-info h3 {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .profile-info p {
        font-size: 14px;
        margin: 0;
    }
    
    .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    
    .post {
        background-color: #192734;
        color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        position: relative;
    }
    
    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .post h2 {
        font-size: 24px;
        margin: 0;
    }
    
    .post p {
        font-size: 16px;
        margin: 0;
    }
    
    .more-button {
        background-color: transparent;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .more-button:hover {
        background-color: #1da1f2;
    }

    .button{
        background-color: #1DA1F2; 
        color: #FFFFFF; 
        border: none; 
        border-radius: 999999px; 
        padding: 10px 20px; 
        font-size: 16px; 
        font-weight: bold;
        width: 50px; 
        height:50px; 
        cursor: pointer;
        margin-left: 150px; 
        margin-top: -40px; 
        margin-bottom: 20px; 
        position: absolute
    }


    .changeItems{
       text-align: center;
       font-size: 16px; 
       font-weight: bold;

   
    } 

    .changebio{
        margin-top: 20px;
        text-align: center;
        font-weight: bold;

    }
    #inputBio{
       margin-bottom: 30px;
    }
    #inputUsername{
        margin-left: 10px;
        margin-right: 10px;
    }

    #inputResetPassword{
        margin-left: 10px;
    }
