body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #15202b;
    margin: 0;
}

.container {
    border-radius: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    position: sticky ;
    top: 0;
    height:100%;
    width: 20%;
    margin-right: 50px;
    
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    background-color: #1da1f2;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #0c84d2;
}

.main-content {
    flex: 1;
}

h1 {
    text-align: left;
    margin-top: 10px;
    color: #333;
}

.search-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-container form {
    width: 100%;
    margin-left: 20px;
}

.search-result {
    width: 100%;
    margin-left: 20px;
}

.search-result ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-result li {
    margin-bottom: 10px;
}

.search-result a {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    color: #192734;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.search-result a:hover {
    background-color: #0c84d2;
}

input[type=text] {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}

button[type=submit] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #555;
}

.result-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.result-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.result-name h2 {
    font-size: 24px;
    margin-left: 0;
}
